.app {
  display: flex;
  gap: 20px;
  overflow: hidden; 

  .recipe-list-container,
  .recipe-detail-container {
    flex: 1;
    height: calc(100vh - 80px);
    overflow-y: auto; 
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
  }

  .recipe-detail-container {
    background-color: #f9f9f9;
  }

::-webkit-scrollbar {
  width: 6px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

}
