.app {
  display: flex;
  gap: 20px;
  overflow: hidden; 

  .recipe-list-container,
  .recipe-detail-container {
    flex: 1;
    height: calc(100vh - 80px);
    overflow-y: auto; 
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
  }

  .recipe-detail-container {
    background-color: #f9f9f9;
  }
  .toggle-button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; /* Green */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  
    &:hover {
      background-color: #45a049; /* Darker green */
      transform: scale(1.05);
    }
  }  
  
::-webkit-scrollbar {
  width: 6px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

}
